/* Applies a natural box layout model to all elements, but allowing components to change. */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/************* Font Classes ******************/  

.most-fonts {
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.heading-font {
    font-size: 3rem;
}

/**************** The main part of the page ******************************/

  .article {
    border: 2px dashed white;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 95%;
  }

  .body {
    background-image: url("./../images/cartographer.png");
  }

  .box {
    align-items: center;
    border: 2px solid white;
    border-radius: 2rem;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 1%;
    width: 100%;
  }

  .box-text {
    /* color: transparent; */
    color: rgb(39, 39, 39);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  .button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2rem;
    cursor:pointer;
    font-weight: bold;
    padding: 0.5% 1.5%;
  }

  .button:focus {outline:0;}

  .button:hover {
    background-color: rgba(194, 192, 192, 0.1);
  }

  .button:active {
    background-color: rgb(110, 110, 110);
  }

  .header {
      align-items: center;
      display: flex;
      height: 10vh;
      justify-content: center;
      text-align: center;
      width: 100%;
  }

  .hidden {
    visibility: hidden;
  }

  .left-side-of-article {
    height: 100%;
    padding: 5%;
    width: 100%;
  }

  .map {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 95%;
  }

  .right-side-of-article {
    border-left: 2px dashed white;
    height: 100%;
    line-height: 2rem;
    padding: 2% 5%;
    width: 100%;
  }

  .row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin: 0.5rem;
    padding: 0;
    width: 100%;
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
